<div>
<form novalidate name="register">

    Email : <input ng-model="user.email" required type="email" name="email"><br>
    Password : <input ng-model="user.pass" required type="text" name="pass" ng-minlength="8"><br>
    Confirm password : <input ng-model="user.confirmPass" required name="confirmPass" ng-minlength="8" pass-check passworddd="user.pass"><br>

    <input type="submit" value="register" ng-click="sendData (user)" ng-disabled="inProgress">

    <div ng-messages="register.email.$error">
        <div ng-message="required">email require</div>
        <div ng-message="email">email is incorrect</div>
    </div>
    <div ng-messages="register.pass.$error">
        <div ng-message="required">password require</div>
        <div ng-message="minlength">pass too short</div>
    </div>
    <div ng-messages="register.confirmPass.$error">
        <div ng-message="required">confirmation require</div>
        <div ng-message="checkPass">no valid</div>

</form>

    {{user | json}}<br>
   user Data {{userData | json}}
    token = {{userModel.getToken}}

</div>
<div>
    Authorized
    <form novalidate name="auth">

        Email : <input ng-model="auth.email" required type="email" name="authEmail"><br>
        Password : <input ng-model="auth.pass" required type="text" name="authPass" ng-minlength="8"><br>
        <input type="submit" value="Sign in">

        <div ng-messages="auth.authEmail.$error">
            <div ng-message="required">email require</div>
            <div ng-message="email">email is incorrect</div>
        </div>
        <div ng-messages="auth.authPass.$error">
            <div ng-message="required">password require</div>
            <div ng-message="minlength">pass too short</div>
        </div>
    </form>


</div>